@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply font-sans bg-background;
  }

  h1 {
    @apply text-primary text-2xl;
  }

  h2 {
    @apply text-secondary text-sm;
  }

  h3 {
    @apply text-primary text-base;
  }

  p {
    @apply text-tertiary text-xs;
  }

  a:hover {
    text-decoration: underline;
  }
}
